<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="ROOT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/root/root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Log file will roll over daily -->
            <fileNamePattern>logs/root/root-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- Maximum file size before rolling (in bytes) -->
            <maxFileSize>120KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONTROLLER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/controller/controller.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Log file will roll over daily -->
            <fileNamePattern>logs/controller/controller-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- Maximum file size before rolling (in bytes) -->
            <maxFileSize>120KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FRONTEND_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/frontend/views.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Log file will roll over daily -->
            <fileNamePattern>logs/frontend/views-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- Maximum file size before rolling (in bytes) -->
            <maxFileSize>120KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILTER_CONFIG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/filter/configFilter.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Log file will roll over daily -->
            <fileNamePattern>logs/filter/configFilter-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- Maximum file size before rolling (in bytes) -->
            <maxFileSize>120KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.gabeWebTest.webTest.controllers" level = "INFO">
        <appender-ref ref ="CONTROLLER_FILE"/>
    </logger>

    <logger name="com.gabeWebTest.webTest.services" level ="INFO">
        <appender-ref ref ="CONTROLLER_FILE"/>
    </logger>

    <logger name="com.gabeWebTest.webTest.views" level = "INFO">
        <appender-ref ref ="FRONTEND_FILE"/>
    </logger>

    <logger name="com.gabeWebTest.webTest.config" level= "INFO">
        <appender-ref ref="FILTER_CONFIG_FILE"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROOT_FILE"/>
    </root>


</configuration>
