
.responsive-logo {
    width: 50px;   /* Set the maximum width to your desired value */
    height: auto;  /* Allow the height to scale proportionally */
}

.hyperlink-padding {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.linkedin-button:hover {
    background-color: lightgrey;
}

.larger-font {
    font-size: 30px;
}

.hover-effect:hover {
    cursor: pointer;
}
.hover-effect:hover .larger-font{
    color: red;
    text-decoration: underline;
}
/* custom-multiselect-combobox.css */
/* Define a custom property for text color */
:host {
    --tag-text-color: var(--vaadin-input-field-label-color); /* Default text color */
}

/* Styling for individual dropdown items */
[part="items"] ::slotted(vaadin-combo-box-item) {
    /* Use the value of the custom property for text color */
    color: var(--tag-text-color);
}

.tag-badge {
    border-radius: 9999px; /* Large value to make it pill-shaped */
    /* Add padding to create some space around the text */
    padding: 4px 8px; /* Adjust as needed */
    /* Add any other styling properties as needed */
}

