
.responsive-logo {
    width: 50px;   /* Set the maximum width to your desired value */
    height: auto;  /* Allow the height to scale proportionally */
}

.hyperlink-padding {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.linkedin-button:hover {
    background-color: lightgrey;
}

.larger-font {
    font-size: 30px;
}

/* Add the hover effect for the layout */
.article-style:hover {
    cursor: pointer;
}
/* custom-multiselect-combobox.css */
/* Define a custom property for text color */
:host {
    --tag-text-color: var(--vaadin-input-field-label-color); /* Default text color */
}

/* Styling for individual dropdown items */
[part="items"] ::slotted(vaadin-combo-box-item) {
    /* Use the value of the custom property for text color */
    color: var(--tag-text-color);
}

.tag-badge {
    border-radius: 9999px; /* Large value to make it pill-shaped */
    /* Add padding to create some space around the text */
    padding: 4px 8px; /* Adjust as needed */
    /* Add any other styling properties as needed */
}

/* Define adaptive font sizes */
.adaptive-title-font {
    font-size:32px; /* Default font size */
    font-family:"Inconsolata", sans-serif;
}

@media screen and (max-width: 600px) {
    .adaptive-title-font {
        font-size: 16px; /* Adjusted font size for smaller screens */
    }
}

@media screen and (max-width: 400px) {
    .adaptive-title-font {
        font-size:14px; /* Further adjusted font size for even smaller screens */
    }
}

.article-style:hover .adaptive-title-font{
    font-weight: bold;
}

/* Apply grayscale filter to the image by default */
.image-container {
    overflow: hidden;
    filter: grayscale(50%);
    transition: filter 0.3s ease; /* Smooth transition effect */
    transition: transform 0.2s ease;
}

/* Adjust the image size on hover */
.article-style:hover .image-container {
    filter:grayscale(0%);
    transition: blur 0.1s ease;
    transition: filter 0.3s ease;
    transform: scale(1.01); /* Zoom in by 10% */
    transition: transform 0.2s ease;
    transform-origin: 40% 20%;
}
