@font-face {
    font-family: 'InconsolataRegular';
    src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
    /* Add additional font properties if needed */
}



.responsive-logo {
    width: 50px;   /* Set the maximum width to your desired value */
    height: auto;  /* Allow the height to scale proportionally */
}

/*.hyperlink-padding {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
} */

.linkedin-button:hover {
    background-color: lightgrey;
}

.larger-font {
    font-size: 30px;
}

.article-style {
    width:20%
}

/* Add the hover effect for the layout */
.article-style:hover {
    background-color: rgba(208, 214, 214,0.5); /* Change background color to light gray */
    transition: background-color 0.5s ease;
    cursor: pointer;
}
/* custom-multiselect-combobox.css */
/* Define a custom property for text color */
/*:host {
    --tag-text-color: var(--vaadin-input-field-label-color); /* Default text color */
/*}

/* Styling for individual dropdown items */
[part="items"] ::slotted(vaadin-combo-box-item) {
    /* Use the value of the custom property for text color */
    color: var(--tag-text-color);
}

.tag-badge {
    transform: scale(1.0);
    transition: transform 0.2s ease;
    font-family:'InconsolataRegular', sans-serif;
    border-radius: 9999px; /* Large value to make it pill-shaped */
    /* Add padding to create some space around the text */
    padding: 2px 14px; /* Adjust as needed */
    /* Add any other styling properties as needed */
}

.tag-badge:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

/* Define adaptive font sizes */
.adaptive-title-font {
    display: inline-block;
    font-size:32px; /* Default font size */
    font-weight: bold;
    font-family:'InconsolataRegular', sans-serif;
}

@media screen and (max-width:1920px) {
    .about-me-block, .hobby-block {
        width:85%;
    }
    .education-block {
        width:95%;
    }
    .education-image {
        width:400px;
        height:600px;
    }
    .profile-image, .hobby-image {
        width:50%;
        height:50%;
    }

    .text-container {
        width:100%;
        flex-shrink: 1;
        flex-grow: 1;
    }
    .about-me-title, .about-me-text {
        font-size:18px;
    }
    .article-thumbnail {
        width: 50%;
        margin:auto;
    }

    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:50px;
        padding: 5px;
        border-radius: 5px;
    }

    .article-title {
            font-size:32px;
    }
    .adaptive-title-font {
       font-size:32px;
    }
    .article-preview-text {
       font-size: 18px;
    }
    .tag-badge {
      font-size: 17px;
    }
    .image-container {
      height:320px;
   }
   .date-style {
       font-size: 13x;
   }
}

@media screen and (max-width: 1600px) {
    .about-me-block, .hobby-block {
        width:80%;
    }
    .education-block {
        width:95%;
    }

    .about-me-title, .about-me-text {
        font-size:16px;
    }
    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:45px;
        padding: 5px;
        border-radius: 5px;
    }

    .article-title {
            font-size:30px;
    }

    .adaptive-title-font {
        font-size:32px;
    }
    .article-preview-text {
        font-size: 18px;
    }
    .tag-badge {
        font-size: 17px;
    }
   .image-container {
            height:320px;
   }
.date-style {
    font-size: 13x;
    }

}

@media screen and (max-width: 1400px) {
    .about-me-block, .education-block, .hobby-block {
        width:87%;
    }
    .about-me-title, .about-me-text {
        font-size:15px;
    }

    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:42px;
        padding: 5px;
        border-radius: 5px;
    }

    .article-title {
            font-size:28px;
    }

    .adaptive-title-font {
        font-size:28px;
    }
    .article-preview-text {
        font-size:16px;
    }
    .tag-badge {
        font-size:15px;
    }
   .image-container {
            height: 260px;
   }
   .date-style {
       font-size:12px;
   }

}

@media screen and (max-width:1200px) {
    .about-me-block, .education-block, .hobby-block {
        width:90%;
    }
    .about-me-title, .about-me-text {
        font-size:14px;
    }

    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:40px;
        padding: 4px;
        border-radius: 4px;
    }

    .article-title {
            font-size:26px;
    }

    .adaptive-title-font {
        font-size:24px;
    }
    .article-preview-text {
        font-size: 15px;
    }
    .tag-badge {
        font-size: 14px;
    }
    .image-container {
        height: 240px;
    }
    .date-style {
        font-size: 11px;
    }

}

@media screen and (max-width: 1000px) {
    .about-me-block, .education-block, .hobby-block {
        width:92%;
    }
    .about-me-title, .about-me-text {
        font-size:13px;
    }


    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:38px;
        padding: 4px;
        border-radius: 4px;
    }

    .article-title {
            font-size:24px;
    }

    .adaptive-title-font {
        font-size:22px;
    }
    .article-preview-text {
        font-size: 13px;
    }
    .tag-badge {
        font-size: 12px;
    }
    .image-container {
        height:200px;
    }
    .date-style {
        font-size: 10px;
    }

}

@media screen and (max-width: 800px) {
    .about-me-block, .education-block, .hobby-block {
        width:94%;
    }
    .about-me-title, .about-me-text {
        font-size:11px;
    }

    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:35px;
        padding: 3px;
        border-radius: 4px;
    }

    .article-title {
            font-size:22px;
    }

   .adaptive-title-font {
    font-size:19px;
   }
   .image-container {
            height: 170px;
   }
   .article-preview-text {
       font-size:11px;
   }
  .tag-badge {
       ont-size: 10px;
  }
  .date-style {
        font-size: 9px;
  }

}

@media screen and (max-width: 600px) {
    .about-me-block, .education-block, .hobby-block {
        width:96%;
    }
    .about-me-title, .about-me-text {
        font-size:11px;
    }

    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:28px;
        padding: 3px;
        border-radius: 3px;
    }

    .article-title {
            font-size:16px;
    }

    .adaptive-title-font {
        font-size: 16px; /* Adjusted font size for smaller screens */
    }
    .article-preview-text {
        font-size:10px;
    }
   .image-container {
            height: 150px;
   }
    .tag-badge {
        font-size: 9px;
    }
    .date-style {
        font-size: 8x;
    }

}

@media screen and (max-width: 500px) {
    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:25px;
        padding: 2px;
        border-radius: 3px;
    }

    .article-title {
            font-size:14px;
    }
    .adaptive-title-font {
        font-size:13px; /* Further adjusted font size for even smaller screens */
    }
    .article-preview-text {
        font-size: 9px;
    }
    .tag-badge {
           font-size: 7px;
    }

    .image-container {
        height: 140px;
    }
}

@media screen and (max-width: 400px) {
    .linkedin-anchor, .github-anchor, .youtube-anchor {
        width:20px;
        padding: 2px;
        border-radius: 2px;
    }
    .article-title {
        font-size: 12px;
    }
    .adaptive-title-font {
        font-size:12px; /* Further adjusted font size for even smaller screens */
    }
    .article-preview-text {
        font-size: 8px;
    }
    .tag-badge {
            font-size: 7px;
    }
    .image-container {
        height: 130px;
    }
    .date-style {
        font-size: 6px;
    }
}

.article-style {
      overflow: hidden;
      padding: 10px;
      border-radius:5px;
      background-color: rgba(0, 0, 0, 0); /* Completely transparent black */
      transition: background-color 0.5s ease;
}

.article-style.fade-out {
    opacity:0;
    transition:opacity 0.5s ease;
}

.article-style.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
}
/* Apply grayscale filter to the image by default */
.image-container {
    max-height:400px;
    width:auto;
    filter: grayscale(20%);
    filter: saturate(80%);
    transition: filter 0.5s ease; /* Smooth transition effect */
}

/* Adjust the image size on hover */
.article-style:hover .image-container {
    filter:grayscale(0%);
    transition: filter 1s ease;
    filter: saturate(200%);
}

.article-preview-layout {
    width:70%;
}

.article-preview-text {
    display: -webkit-box;
    -webkit-line-clamp:4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow:hidden;
    text-overflow: ellipsis;
    color:#628073;
    transition: color 0.2s ease;
    font-family:"InconsolataRegular",sans-serif;
    margin: 4px;
}

.article-style:hover .article-preview-text {
    color:#679983;
    transition: color 0.2s ease;
}

.article-style:active {
    background-color: rgba(162, 168, 168,0.5); /* Change background color to light gray */
    transition: background-color 0.1s ease;
}

.date-style {
    font-family:"InconsolataRegular",sans-serif;
    color:lightgrey;
    transition:color 0.2s ease;
}

.article-style:hover .date-style {
    color:black;
    transition:color 0.2s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.drawer-toggle-right {
    transform: rotate(180deg); /* Rotate element by 180 degrees */
    transition: transform 0.5s ease;
}

.drawer-toggle-left {
    transform: rotate(0deg); /* Original orientation */
    transition: transform 0.5s ease;
}

.drawer-toggle:hover {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(208, 214, 214,0.5);
    transition: background-color 0.2s ease;
}

.drawer-toggle:active {
    background-color: rgba(162, 168, 168,0.5);
    transition: background-color 0.2s ease;
}

.dashboard-layout::part(drawer) {
    background-color: #628074;
}


vaadin-side-nav-item.drawer-Content {
    background-color:transparent;
}

vaadin-side-nav-item.drawer-Content::part(link) {
    font-family: "InconsolataRegular",sans-serif;
    color: #ffffff;
/*    background-color:#transparent;
    transition: background-color 0.2s ease; */
    font-size: 22px; /* Adjust font size as needed */
    padding: 15px 20px; /* Adjust padding as needed */
}


vaadin-side-nav-item.drawer-Content::part(link):hover {
    background-color: rgba(235, 231, 223,0.1);
    transition: background-color 0.2s ease;
}

vaadin-multi-select-combo-box.custom-multiselect::part(label){
    color:#ffffff;
    font-family: "InconsolataRegular",sans-serif;
    font-size: 20px;
}

vaadin-multi-select-combo-box.custom-multiselect::part(input-field) {
    background-color: #5b7369;
}

vaadin-multi-select-combo-box-chip::part(label) {
    font-size:17px;
    font-family: "InconsolataRegular",sans-serif;
    color: #ffffff;
}

vaadin-multi-select-combo-box-overlay::part(overlay) {
    background-color:#000000;
}

vaadin-multi-select-combo-box-item::part(checkmark) {
    color:#ffffff;
}

vaadin-multi-select-combo-box-item[selected] {
    color:#ffffff;
}

.articlelist-style::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
}

.articlelist-style {
    scrollbar-width: none; /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar in Internet Explorer */
    overflow-y: scroll; /* Ensure the element is scrollable even without a visible scrollbar */
}

/*.article-thumbnail {
    width: 70%;
    margin:auto;
} */

.article-title {
    font-family:"InconsolataRegular",sans-serif;
    color:#628073;
    margin:auto
}


.linkedin-anchor, .github-anchor, .youtube-anchor {
   /* padding: 5px;
    border-radius: 5px;
   /* width:45px; */
    height:auto;
    margin-left:auto;
    transition: background-color 0.2s ease;
}

.linkedin-anchor:hover {
    background-color: rgba(41, 161, 227,0.1);
    transition: background-color 0.2s ease;
}

.linkedin-anchor:active {
    background-color:rgba(41,161,277,0.5);
}

.github-anchor:hover {
    background-color: rgba(162, 168, 168,0.1);
    transition: background-color 0.2s ease;
}

.github-anchor:active {
    background-color: rgba(162,168,168,0.7);
}

.youtube-anchor:hover {
    background-color:rgba(255,0,0,0.1);
    transition:background-color 0.2 ease;
    cursor:pointer;
}

.youtube-anchor:active {
    background-color:rgba(255,0,0,0.5);
    transition:background-color 0.2s ease;
}

.article-text-block-title {
    font-size:50px;
    font-family:"InconsolataRegular",sans-serif;
}

.article-date {
    font-family:"InconsolataRegular",sans-serif;
    font-size: 20px;
    color:lightgrey;
    transition:color 0.2s ease;
}

.title-block:hover .article-date {
    color:black;
    transition: color 0.2s ease;
}

.article-text {
    font-family:"InconsolataRegular",sans-serif;
    font-size:24px;
    color:black;
}

.about-me::part(navbar) {
    background-color: #11111;
}

.cv-title, .education-title {
    font-family:"InconsolataRegular",sans-serif;
    font-size:35px;
    color:#628073;
    font-weight:700;
    margin:auto;
}

.cv-note1, .cv-note2 {
    font-family:"InconsolataRegular",sans-serif;
    margin:auto;

}

.about-me-block, .education-block, .hobby-block {
    /*width: 80%;*/
    margin:auto;
    padding:10px;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.5s ease;
}

.about-me-block:hover, .education-block:hover, .hobby-block:hover {
    background-color: rgba(208, 214, 214,0.5); /* Change background color to light gray */
    transition: background-color 0.5s ease;
}

/*.education-image, .profile-image, .hobby-image {
    width:50%;
    height:50%;
} */

 .text-container {
        flex-grow:1;
        display:flex;

        }
.cv-block {
    width: 50px;
    margin: auto;
}

.about-me-content {
    padding: 20px;
}

.about-me-title, .about-me-text {
   font-family:"InconsolataRegular",sans-serif;
   white-space: normal;
}
.pdf-viewer {
    width: 50%;
    margin:auto;
}

.container {
}

.image {
    float: left;
    margin-right: 20px;
}

.text {
    font-size: 50px;
}
